:root {
  --bg-color: white;
  --box-color: #d6d6d6;
  --accent-color: #7734dc;
  --button-color: #0096cc;
  --button-hover: rgb(0, 86, 117);
  --dark-text: rgb(35, 31, 31);
  --light-text: white;
}

body {
  background-color: var(--bg-color);
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1.5em;
  color: var(--dark-text);
}

.main-container {
  background-color: var(--box-color);
  width: 90%;
  padding: 2em;
  border-radius: 2%;
}

.navbar {
  background-color: var(--button-color);
  color: var(--light-text);
  margin-bottom: 2em;
}
.navbar a {
  color: var(--light-text);
}

.navbar a:hover {
  background-color: var(--button-hover);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  /* margin: 0px auto;
  width: 1000px; */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid red;
  width: 1000px;
  height: 750px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
}

.game-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#video-container {
  flex-shrink: 0;
  flex-basis: auto;
}

#game-sidebar {
  flex-grow: 1;
}

.OT_publisher {
  display: none;
}

.OT_subscriber {
  float: left;
  margin-left: 1em;
  border-radius: 50%;
}

button {
  margin: 1em;
}
.btn-main {
  background-color: var(--button-color);
  color: var(--light-text);
  padding: 1em;
  border-radius: 5%;
  font-size: 1em;
}

.btn-main:hover {
  background-color: var(--button-hover);
  color: var(--light-text);
}

.btn-main a {
  color: white;
}

.btn-main a:hover {
  color: white;
  text-decoration: none;
}

.clock {
  font-size: 40px;
}

.no-interaction {
  pointer-events: none;
}
